<h2>Red alert, <%= @user.name %></h2>
<p>
  Your new hire, <%= @employee.name %>, has a task that is <strong>3 or more days overdue!</strong><br>
</p>
<p>
  To help them get back on schedule, visit <%= @url %> and see how you can help.
</p>
<p>Thanks and have a great day!</p>
