<% if current_user.nil? %>
    
    <% if request.subdomain.blank? || request.subdomain == "app" %>
     
        <%= link_to 'Change Subscription', new_user_registration_path, {class: "btn btn-primary"} %>
        <br>
    <% else %>
  
        <%= link_to 'Log in', new_user_session_path, {class: "btn btn-primary"} %>
        <br>
    <% end %>


    
<% else %>


      
          <h3>Welcome <%= current_user.name %></h3>
          <h5>You are already logged in.</h5>

    <br>

<% end %>
<br>







