<div class="container">
  <div class="row">
    <div class="s12 m12 l2">&nbsp;</div>
    <div class="s12 m12 l8"><h4>Edit document details</h4></div>
    <div class="s12 m12 l2">&nbsp;</div>
  </div>
</div>
<%= render 'form' %>
