<div class="row">
      <div class="col s12 center"><h1>Our Plans</h1></div>
      <div class="col s6 offset-s3">
          <table>
            <thead>
              <tr>
                  <th data-field="id" class="center">Start Up Plan</th>
                  <th data-field="name" class="center">Medium</th>
                  <th data-field="price" class="center">Enterprise</th>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td class="center"><strong>What do you get?</strong><br>Onboard up to 10 employees</td>
                <td class="center"><strong>What do you get?</strong><br>Onboard up to 10 - 100 employees</td>
                <td class="center"><strong>What do you get?</strong><br>Onboard up to 200 - 500 employees</td>
              </tr>
              <tr>
                <td class="center"><strong>How much is it?</strong><br>Free</td>
                <td class="center"><strong>How much is it?</strong><br>€500 a month</td>
                <td class="center"><strong>How much is it?</strong><br>€1000 a month</td>
              </tr>
              <tr>
                <td class="center"><strong>The best part</strong><br>The best onboarding process for free!</td>
                <td class="center"><strong>The best part</strong><br>The best onboarding process for free! </td>
                <td class="center"><strong>The best part</strong><br>The best onboarding process for free!</td>
              </tr>
            </tbody>
          </table>

          <p class="center"><strong>
          For enterprise pricing please contact sales@onerocket.io</strong></p>
      </div> 
    </div>
          