<div class="row">
      <div class="col s12 center"><h1>Our Plans</h1></div>
      <div class="col s8 offset-s2">
          <table>
            <thead>
              <tr>
                  <th data-field="id" class="center">Monthly</th>
                  <th data-field="name" class="center">Yearly</th>
                  
              </tr>
            </thead>

            <tbody>
              <tr>

                <td class="center"><strong>What do you get?</strong><br>World Class onboarding program.</td>
                 <td class="center"><strong>What do you get?</strong><br>World Class onboarding program.<br>
                  </td>
                
              </tr>
              <tr>
                <td class="center"><strong>How much is it?</strong><br>€10 a month for each new Employee Onboarded</td>
                <td class="center"><strong>How much is it?</strong><br>€100 a year for each new Employee Onboarded 
                  <br>20% Savings</td>
               
              </tr>
              <tr>
                <td class="center"><strong>The best part</strong><br>Onboard your first 5 employees for free!</td>
                <td class="center"><strong>The best part</strong><br>Onboard your first 5 employees for free!</td>
               
              </tr>
            </tbody>
          </table>

          <p class="center"><strong>
          For enterprise pricing please contact sales@onerocket.io</strong></p>
      </div> 
    </div>
          