 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
     

     nav {

    background-color: #424A5D;
  
}


footer.page-footer {
  
     background-color: #424A5D;
}


.collapsible-body p {

    padding: 0rem;
    padding-left: 1rem;
}


.card .card-action a {
  

  color: white;
}



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }

}

[type="checkbox"]+label {
   
    padding-top: 5px;
    
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 7px;
    transition: .2s;
}


 



nav {
    color: #fff;
    background-color: #302DBD;
    width: 100%;
    height: 56px;
    line-height: 56px;
}